.brand_box {
    width: 100%;
    height: 600px;
}
.brand_inner {
    width: 1198px;
    height: 598px;
    margin: 75px auto;
    border: 1px solid #000;
}
.brand_upload_btn button {
    width: 200px;
    height: 75px;
    background-color: #8AB8F7;
    margin: 50px 0px 0px 100px;
}
.brand_list {
    float: left;
    width: 998px;
    height: 373px;
    margin-left: 100px;
    border: 1px solid #000;
}
.brand_list table {
    border-collapse: separate;
    border-spacing: 40px 20px;
}
.brand_list th {
    width: 198px;
    height: 50px;
    line-height: 50px;
    
    border: 1px solid #000;
}
.direction_key {
    float: left;
}
.direction_key p{
    float: left;
    width: 1200px;
    height: 100px;
    font-size: 25px;
    line-height: 100px;
    text-align: center;
}
