.mainbox {
    width: 1600px;
    margin: 0 auto;
}
.mainbar {
    width: 100%;
    height: 100px;
}
.mainbar li {
    width: 300px;
    height: 100%;
    padding: 65px 50px 5px 50px;
    list-style-type: none;
    float: left;
}
.mainbar li a {
    text-decoration: none;
}
.mainbar li a p {
    font-size: 30px;
    text-decoration: none;
    color: #000;
    text-align: center;
}
.mainbar .logincontrol li{
    padding-top: 65px;
}
.mainbar .logincontrol .login li{
    padding-top: 20px;
}
.mainbar .logincontrol .login .loginselect{
    padding-bottom: 20px;
}
.maincontant {
    width: 1396px;
    height: 596px;
    background-color: #8AB8F7;
    border: 2px solid #000000;
    margin: 5px 100px;
}
.maincontant a {
    width: 200px;
    height: 50px;
    float: left;
    margin: 273px 598px;
    line-height: 50px;
    text-align: center;
}